In [72]:
import pymysql

In [73]:
username = "admin"
password = "12345678"
host = "database-1.c10by1rrbsdg.us-east-2.rds.amazonaws.com" 
port = 3306
db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor)

In [74]:
crsr = db.cursor()

In [59]:
create_db = '''CREATE DATABASE PreguntasGPT'''
crsr.execute(create_db)

ProgrammingError: (1007, "Can't create database 'PreguntasGPT'; database exists")

In [60]:
crsr.execute('SHOW DATABASES')
crsr.fetchall()

[{'Database': 'PreguntasGPT'},
 {'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

In [75]:
crsr.connection.commit()
use_db = ''' USE PreguntasGPT'''
crsr.execute(use_db)

0

In [62]:
query = '''
CREATE TABLE GPT (
    FECHA VARCHAR(64),
    PREGUNTAS VARCHAR(256),
    RESPUESTAS VARCHAR (1024)
)
'''

crsr.execute(query)

0

In [10]:
from datetime import datetime 
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(type(now))

<class 'str'>

In [54]:
query = '''
DROP TABLE GPT;
 
'''
crsr.execute(query)

0

In [63]:
crsr.execute('SHOW TABLES')
crsr.fetchall()

[{'Tables_in_PreguntasGPT': 'GPT'}]

In [64]:
import pandas as pd

In [65]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [76]:
query = ('''
SELECT * FROM GPT
''')
crsr.execute(query)

1

In [77]:
sql_query(query)

                 FECHA                       PREGUNTAS RESPUESTAS
0  2023-03-04 21:40:18  ¿Cuál es la capital de España?     Madrid

In [78]:
sql = '''SELECT * FROM GPT'''
crsr.execute(sql)
mi_tabla = crsr.fetchall()
mi_tabla

[{'FECHA': '2023-03-04 21:40:18',
  'PREGUNTAS': '¿Cuál es la capital de España?',
  'RESPUESTAS': '  Madrid'}]

In [69]:
db.commit()
db.close()