In [1]:
import sqlite3

In [14]:
# Conectamos con la base de datos
connection = sqlite3.connect("questions.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [17]:
query = '''
CREATE TABLE FAQ (
    FECHA VARCHAR(64),
    PREGUNTAS VARCHAR(256),
    RESPUESTAS VARCHAR (1024)
)
'''

crsr.execute(query)

In [12]:
from datetime import datetime 
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(type(now))

<class 'str'>

In [16]:
query = '''
DROP TABLE FAQ;
 
'''
crsr.execute(query)

In [4]:
res = crsr.execute("SELECT name FROM sqlite_master WHERE type='table'")
for name in res:
    print(name[0])

FAQ

In [19]:
import pandas as pd

In [18]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [29]:
query = ('''
SELECT * FROM FAQ
''')
crsr.execute(query)

In [30]:
sql_query(query)

                 FECHA                          PREGUNTAS     RESPUESTAS
0  2023-03-02 18:52:15  ¿A cuántos grados hierve el agua?  <br><br>100°C