# **CREATION AND CONNECTION TO AWS DATABASE**

### **1.** Import the necessary libraries

In [127]:
import pymysql
import pandas as pd

### **2.** Connect to the database filling the parameters 'host', 'user' and 'password. Custom and define cursor

In [128]:
username = "admin"
password = "12345678"
host = "database-1.c10by1rrbsdg.us-east-2.rds.amazonaws.com" 
port = 3306
db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor)

In [129]:
crsr = db.cursor()

### **3.-** Create and use new database named **'PreguntasGPT'**

In [132]:
create_db = '''CREATE DATABASE PreguntasGPT'''
crsr.execute(create_db)

1

In [133]:
crsr.execute('SHOW DATABASES')
crsr.fetchall()

[{'Database': 'PreguntasGPT'},
 {'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

In [134]:
crsr.connection.commit()
use_db = ''' USE PreguntasGPT'''
crsr.execute(use_db)

0

### **4.-** Create table named GPT

In [136]:
query = '''
CREATE TABLE GPT (
    FECHA VARCHAR(64),
    PREGUNTAS VARCHAR(256),
    RESPUESTAS VARCHAR (1024)
)
'''                                # Create columns of our new table, ('FECHA', 'PREGUNTAS', 'RESPUESTAS')
                                   # Use the three of them as strings (VARCHAR), and with different sizes
crsr.execute(query)

0

In [131]:
# query = '''
# DROP DATABASE PreguntasGPT;
 
# '''
# crsr.execute(query)

1

In [137]:
crsr.execute('SHOW TABLES')
crsr.fetchall()

[{'Tables_in_PreguntasGPT': 'GPT'}]

### **5.-** Function to show the table

In [138]:
# Function to read data and show it in a Pandas DataFrame
def sql_query(query):

    # Execute the query
    crsr.execute(query)

    # Store every query data
    ans = crsr.fetchall()

    # Obtain the name of every column in the table
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [142]:
query = ('''
SELECT * FROM GPT
''')
crsr.execute(query)

0

In [143]:
sql_query(query)

Empty DataFrame
Columns: [FECHA, PREGUNTAS, RESPUESTAS]
Index: []

### **6.** Other way to show all the questions and answers

In [141]:
sql = '''SELECT * FROM GPT'''
crsr.execute(sql)
mi_tabla = crsr.fetchall()
mi_tabla

()

### **7.** Commit and close the connection **(IMPORTANT)**

In [69]:
db.commit()
db.close()